@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import '../../index.scss';
/* Container */
.list-anim-container{
    font-family: 'Langar', cursive;
    border: 1px solid black;
    height:100vh;
    text-align: center;
    /* UL */
    .list-anim-list{
        background-size: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        top:50%;
        left: 50%;
        list-style-type: none;
        box-sizing: border-box;
        min-width: 450px;
        transform: translate(0, -50%);
        /* List element */
        .list-anim-list-element{
            border: 2px solid rgb(3, 62, 89);
            color: rgb(3, 62, 89);
            background: linear-gradient(13deg, rgb(110, 214, 255), rgb(235, 238, 236));
            height: 53px;
            &:first-child{
                border-radius: 10px 10px 0px 0px;
            }
            &:last-child{
                border-radius: 10px 10px 0px 0px;
            }
            &:last-child{
                border-radius: 0px 0px 10px 10px;
            }
            & .list-anim-text{
                display: flex;
                justify-content: space-between;

            }
            .List-fontawesome-X{
                transform: scale(1);
            }
        }
    }
}

ul.list-anim-list li span.list-anim-text{
}
/* X - fontawesome */
ul.list-anim-list li span.list-anim-text:last-child{
    padding: 15px 10px;
    cursor: pointer;
}   
.List-fontawesome-X:hover
{
    animation-name: XbuttonRotateScaleUp, doubleSize, XbuttonRotate;
    animation-duration: 400ms,500ms, 1500ms;
    animation-delay: 0ms,400ms, 400ms;
    animation-timing-function: ease-in,linear, linear;
    animation-iteration-count: 1, infinite, infinite;
    
 }
 .deleteFadeAwayClass{
    animation-name: deleteFadeAway;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: 1;
 }
 .listElemGoDownClass{
     animation-name: listElemGoDown;
     animation-duration: 1000ms;
     animation-timing-function: ease-in;
     animation-iteration-count: 1;
 }
 .listElemGoUpClass{
    animation-name: listElemGoUp;
    animation-duration: 1000ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}
/* Animaion-section */

 @keyframes XbuttonRotateScaleUp{
     0%{
         transform: rotate(0) scale(1);
     }
    100%{
        transform: rotate(360deg) scale(2);
        
    }
 }
 @keyframes doubleSize{
     0%{
         transform: scale(2);
     }
     100%{
         transform: scale(2);
     }
 }
 @keyframes XbuttonRotate{
     0%{
         transform: rotate(0) scale(2);
     }

     100%{
         transform: rotate(360deg) scale(2);
     }
 }
@keyframes deleteFadeAway{
    0%{
        left:0;
        position:relative;
    }
    100%{
        position:relative;
        left: -650px;
        display:none;
        opacity: 0;
    }
}
@keyframes listElemGoDown{
    0%{
        position: relative;
        top:0;
    }
    100%{
        position: relative;
        top: 26.6px;
    }
}
@keyframes listElemGoDownLast{
    0%{
        position: relative;
        top:0;
    }
    100%{
        position: relative;
        top: 26.6px;
        border-radius: 0px 0px 10px 10px;
    }
}
@keyframes listElemGoUp{
    0%{
        position:relative;
        top:0;
    }
    100%{
        position:relative;
        top: -26.6px;
    }
}